.main {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    padding: 2rem 1rem;
}

.main__itens {
    width: 100%;
    padding: 2rem;
    display: flex;
    align-items: center;
    gap: 1rem;
    border-radius: 2rem;
    background-color: var(--cor-primaria);
}

.itens__vencimento__titulo,
.itens__vencimento__descricao {
    color: var(--cor-secundaria);
}

.main__itens__vencimento {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
}

.itens__vencimento__titulo {
    font-size: 1rem;
}

.itens__vencimento__descricao {
    font-size: 0.85rem;
    line-height: 1.2rem;
}

.itens__vencimento__ver-mais {
    width: fit-content;
    font-size: 0.7rem;
    padding: 0.5rem 1rem;
}

.main__itens__ilustracao {
    width: 40%;
}

.main__receitas-home {
    width: 100%;
}

.main__receitas-home__titulo {
    font-size: 1rem;
}

.main__receitas-home__itens {
    max-height: 15rem;
    margin-top: 1.5rem;
    padding: 0.2rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    overflow: scroll;
}
